
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Breast-Cancer Pridiction</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/fv.png">
    <!-- Place favicon.ico in the root directory -->

   <!-- CSS here -->
   <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
   <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
   <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
   <link rel="stylesheet" href="../static/assets/css/font-awesome.min.css">
   <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
   <link rel="stylesheet" href="../static/assets/css/nice-select.css">
   <link rel="stylesheet" href="../static/assets/css/flaticon.css">
   <link rel="stylesheet" href="../static/assets/css/gijgo.css">
   <link rel="stylesheet" href="../static/assets/css/animate.css">
   <link rel="stylesheet" href="../static/assets/css/slicknav.css">
   <link rel="stylesheet" href="../static/assets/css/style.css">
   <!-- <link rel="stylesheet" href="../static/assets/css/responsive.css"> -->

   <style>
       .containers {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            width: 75vw;
           
            padding: 25px;
        }
        
       
        
   </style>


</head>

<body>
    

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 ">
                            <div class="social_media_links">
                                <a href="https://www.linkedin.com/in/rajan-kumar-541aa3213/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="https://www.facebook.com/profile.php?id=100009947222130">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-envelope"></i> rajankumardrmgr@gmail.com</a></li>
                                    <li><a href="#"> <i class="fa fa-phone"></i> +91 7564948537</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="../static/logo/logo2.png" alt="">
                                </a>
                            </div>
                        </div>
                       
                        </div>
                      
                        
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg_2 bradcam_overlay" style="background-image: url(static/img/breast.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Breast Cancer</h3>
                        <p><a href="index.html">Home /</a> Breast Cancer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->

    <!-- expert_doctors_area_start -->
    <!--Mask-->
  
    <div id="intro" class="container-fluid view ">
        <h1 class="text-center text-capitalize pt-5">Know your chances of getting Breast Cancer in one Click!</h1>
        <hr class="w-75 mx-auto pt-5">
        <div class="containers">

        <div class="row mb-5">
          <div class="col-lg-6 col-md-6 col-12 my-auto">
            <img src="../static/img/breast.jpg" class="float-left" style="display: block; max-width: 100%; height: auto;"> 
            <h3>{{ prediction_text }}<h3>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <form action="{{ url_for('predict')}}" method="POST">
              <div class="form-group">
                <!-- TODO : Year to accept only year date picker -->
                <br><br><br>
                <label for="concave points_mean">Mean of the Concave Points</label>
                <input class="form-control" type="number" id="concave points_mean" name="concave points_mean" required="required" placeholder="Mean of the Concave Points">
              </div>
              <div class="form-group">
                <label for="area_mean">Mean of the Area</label>
                <input class="form-control" type="number" step="any" id="area_mean" name="area_mean" required="required" placeholder="Mean of the Area">
              </div>
              <div class="form-group">
                <label for="radius_mean">Mean of the Radius</label>
                <input class="form-control" type="number" id="radius_mean" name="radius_mean" required="required" placeholder="Mean of the radius">
              </div>
              <div class="form-group">
                <label for="perimeter_mean">Mean of the Perimeters</label>
                <input class="form-control" type="number" id="perimeter_mean" name="perimeter_mean" required="required" placeholder="Mean of the Parameter">
              </div>
              <div class="form-group">
                <label for="concavity_mean">Mean of the Concavity</label>
                <input class="form-control" type="number" id="concavity_mean" name="concavity_mean" required="required" placeholder="Mean of the concavity">
              </div>
              <button type="submit" class="boxed-btn3">Predict</button>
            </form>
          </div>
        </div>
      </div>
      </div>
      <!--/.Mask-->
    <!-- expert_doctors_area_end -->

 <!-- footer start -->
 <footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="../static/assets/img/logo1.png" alt="">
                            </a>
                        </div>
                        <p>
                            This project is an end to end data science project that is able to predict the chances
                            of getting a disease in organs like liver, kidey, heart, etc.
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=100009947222130">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/rajan-kumar-541aa3213/">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/i_am_rajansingh/">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Departments
                        </h3>
                        <ul>
                            <li><a href="#">Breast Cancer</a></li>
                            <li><a href="#">Diabetes</a></li>
                            <li><a href="#">Kidney</a></li>
                            <li><a href="#">Heart</a></li>
                            <li><a href="#">Liver</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Useful Links
                        </h3>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#"> Contact</a></li>
                            <li><a href="#"> Appointment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Address
                        </h3>
                        <p>
                            Sasaram Rohtas Bihar <br>
                            +91 7564948537 <br>
                            rajankumardrmgr@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        2022 All rights reserved | This
                        template is made with by |<a href="https://rajank.co.in/"
                            target="_blank">Rajan</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end  -->

     <!-- JS here -->
     <script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
     <script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
     <script src="../static/assets/js/popper.min.js"></script>
     <script src="../static/assets/js/bootstrap.min.js"></script>
     <script src="../static/assets/js/owl.carousel.min.js"></script>
     <script src="../static/assets/js/isotope.pkgd.min.js"></script>
     <script src="../static/assets/js/ajax-form.js"></script>
     <script src="../static/assets/js/waypoints.min.js"></script>
     <script src="../static/assets/js/jquery.counterup.min.js"></script>
     <script src="../static/assets/js/imagesloaded.pkgd.min.js"></script>
     <script src="../static/assets/js/scrollIt.js"></script>
     <script src="../static/assets/js/jquery.scrollUp.min.js"></script>
     <script src="../static/assets/js/wow.min.js"></script>
     <script src="../static/assets/js/nice-select.min.js"></script>
     <script src="../static/assets/js/jquery.slicknav.min.js"></script>
     <script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
     <script src="../static/assets/js/plugins.js"></script>
     <script src="../static/assets/js/gijgo.min.js"></script>
     <!--contact js-->
     <script src="../static/assets/js/contact.js"></script>
     <script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
     <script src="../static/assets/js/jquery.form.js"></script>
     <script src="../static/assets/js/jquery.validate.min.js"></script>
     <script src="../static/assets/js/mail-script.js"></script>
 
     <script src="../static/assets/js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    </script>
</body>

</html>